.censored {
  position: relative;
  display: inline-block;
}

.censored::after {
  position: absolute;
  top: 53%;
  right: -0.06em;
  left: -0.06em;
  border-top: 2px solid var(--danger);
  content: '';
  transform: rotate(-4deg);
}